header {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    column-gap: 2rem;
}

nav ul li {
    padding: 0.5rem;
}

nav ul li:last-child {
    align-self: flex-end;
}

.logout-link {
    background: none;
    border: none;
    color: var(--color-links);
    cursor: pointer;
    font-size: 1em;
}
