.view-post {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.view-post > a {
    text-decoration: none;
    font-size: 15pt;
    color: var(--color-foreground);
}

.view-post > a span {
    display: block;
    float: left;
    margin-top: 2px;
    padding-right: 15px;
}

.view-post > a:hover {
    font-weight: bold;
}

.view-post > h1 {
    padding-top: 2rem;
}

.view-post__date {
    font-weight: 500;
    font-size: 1.375rem;
    margin-top: 1.5rem;
    color: var(--color-foreground-alt);
}

.view-post__content {
    margin-top: 4rem;
}

.view-post__content p {
    font-size: 1.125rem;
    line-height: 1.75;
    color: var(--color-foreground-alt);
}

.view-post__content > * {
    margin-bottom: 2.5rem;
}

ol li,
ul li {
    margin-bottom: 1.2rem;
}

.view-post__content > h2 {
    margin-top: 6rem;
}

img {
    max-width: 100%;
    border-radius: 15px;
}

pre {
    background-color: var(--color-background-alt);
    border-radius: 0.5rem;
    padding: 20px;
}

blockquote {
    border-left: 5px solid var(--color-foreground-alt);
    padding: 0.5rem 1rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-style: italic;
}

/** Post author */
.post-author {
    border-top: 3px solid var(--color-background-alt);
    display: flex;
    padding-top: 2rem;
    margin-top: 4rem;
}

.post-author h2 {
    font-size: 16pt;
}

.post-author__image img {
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 70% 50%;
}

.post-author__info {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.post-author__info a {
    margin-top: 2rem;
}

.subscribe-form {
    margin-top: 3rem;
    display: flex;
    border: 1px solid var(--color-border);
    box-shadow: rgb(210 214 220 / 50%) 0px 2px 15px 0px;
}

.subscribe-form__info {
    padding: 2.5rem 2rem;
    background-color: rgb(249, 250, 251);
    display: flex;
    flex-direction: column;
}

.subscribe-form__info img {
    width: 50px;
    height: 50px;
}

.subscribe-form__form {
    min-width: 300px;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: 1;
}

.subscribe-form__form input {
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--color-foreground-alt);
    height: calc(1ch + 2em);
}

.subscribe-form__form input[aria-invalid='true'] {
    color: hsl(356, 100%, 71%);
    border: 1px solid;
}

.subscribe-form__form button {
    height: calc(2ch + 2em);
    background-color: var(--color-foreground);
    color: var(--color-background-alt);
    max-width: 250px;
    font-size: 1rem;
}

.subscribe-form__form span.subscribe-form__form-error {
    color: hsl(356, 100%, 71%);
}

.subscribe-form__form span {
    color: var(--color-foreground);
}

@media screen and (max-width: 768px) {
    .view-post {
        padding: 0;
        padding-top: 2rem;
    }
    .view-post > h1 {
        padding-top: 0;
    }
    .post-author__image img {
        max-width: 150px;
    }
    .subscribe-form {
        flex-direction: column;
    }
    .subscribe-form__info {
        padding-bottom: 0.5rem;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .subscribe-form__info img {
        margin: 0 auto;
    }
    .subscribe-form__form {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .post-author {
        padding-top: 3.5rem;
    }

    .post-author__image img {
        max-width: 150px;
    }

    .post-author h2 {
        position: absolute;
        margin-left: -180px;
        margin-top: -40px;
    }
}
